In [13]:
# import relevant packages

import numpy as np
import scipy.stats as sps
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [80]:
# Get the edited life expectancy data:
data = pd.read_csv('Life expectancy example.csv' , index_col=0)

# Look at the first few rows:
print(data)

                 Male Unnamed: 2 Unnamed: 3 Unnamed: 4    Female Unnamed: 6  \
NaN          all_data     Camden    Enfield        K&C  all_data     Camden
quantity           57         18         21         18        57         18
mean             81.2       80.5       80.1       83.0      85.5       86.1
median           81.0       80.4       80.9       83.5      85.5       86.3
min              74.8       76.7       76.1       74.8      78.6       80.3
max              91.9       84.8       83.5       91.9      92.9       90.7
range            17.1        8.1        7.4       17.1      14.3       10.4
LQ               78.4       78.2       78.8       79.9      84.1       85.3
UQ               83.3       82.7       81.7       86.3      87.2       87.9
IQR               4.9        4.6        2.9        6.4       3.1        2.6
lo-tukey         71.0       71.3       74.4       70.2      79.4       81.4
hi-tukey         90.6       89.6       86.2       96.0      91.8       91.9
lo-outliers         0          0          0          0         1          2
hi-outliers         1          0          0          0         1          0
variance         11.1        7.0        4.8       17.6       7.3        8.0
st. dev.          3.3        2.6        2.2        4.2       2.7        2.8

            Unnamed: 7 Unnamed: 8
NaN            Enfield        K&C
quantity            21         18
mean              84.1       86.6
median            84.4       86.4
min               78.6       81.9
max               87.2       92.9
range              8.6       11.0
LQ                82.5       85.3
UQ                85.4       88.0
IQR                2.9        2.7
lo-tukey          78.2       81.3
hi-tukey          89.7       92.0
lo-outliers          0          0
hi-outliers          0          1
variance           4.0        6.4
st. dev.           2.0        2.5

In [110]:
# Convert dictionary to DataFrame
df = pd.DataFrame(data)

# Rename columns to simplify access
df.columns = ['Male_all_data', 'Male_Camden', 'Male_Enfield', 'Male_K&C', 'Female_all_data', 
              'Female_Camden', 'Female_Enfield', 'Female_K&C']

# Display the DataFrame to confirm
print(df)

            Male_all_data Male_Camden Male_Enfield Male_K&C Female_all_data  \
NaN              all_data      Camden      Enfield      K&C        all_data
quantity               57          18           21       18              57
mean                 81.2        80.5         80.1     83.0            85.5
median               81.0        80.4         80.9     83.5            85.5
min                  74.8        76.7         76.1     74.8            78.6
max                  91.9        84.8         83.5     91.9            92.9
range                17.1         8.1          7.4     17.1            14.3
LQ                   78.4        78.2         78.8     79.9            84.1
UQ                   83.3        82.7         81.7     86.3            87.2
IQR                   4.9         4.6          2.9      6.4             3.1
lo-tukey             71.0        71.3         74.4     70.2            79.4
hi-tukey             90.6        89.6         86.2     96.0            91.8
lo-outliers             0           0            0        0               1
hi-outliers             1           0            0        0               1
variance             11.1         7.0          4.8     17.6             7.3
st. dev.              3.3         2.6          2.2      4.2             2.7

            Female_Camden Female_Enfield Female_K&C
NaN                Camden        Enfield        K&C
quantity               18             21         18
mean                 86.1           84.1       86.6
median               86.3           84.4       86.4
min                  80.3           78.6       81.9
max                  90.7           87.2       92.9
range                10.4            8.6       11.0
LQ                   85.3           82.5       85.3
UQ                   87.9           85.4       88.0
IQR                   2.6            2.9        2.7
lo-tukey             81.4           78.2       81.3
hi-tukey             91.9           89.7       92.0
lo-outliers             2              0          0
hi-outliers             0              0          1
variance              8.0            4.0        6.4
st. dev.              2.8            2.0        2.5

In [111]:
df_cleaned=df.drop(df.index[0])
print(df_cleaned)

            Male_all_data Male_Camden Male_Enfield Male_K&C Female_all_data  \
quantity               57          18           21       18              57
mean                 81.2        80.5         80.1     83.0            85.5
median               81.0        80.4         80.9     83.5            85.5
min                  74.8        76.7         76.1     74.8            78.6
max                  91.9        84.8         83.5     91.9            92.9
range                17.1         8.1          7.4     17.1            14.3
LQ                   78.4        78.2         78.8     79.9            84.1
UQ                   83.3        82.7         81.7     86.3            87.2
IQR                   4.9         4.6          2.9      6.4             3.1
lo-tukey             71.0        71.3         74.4     70.2            79.4
hi-tukey             90.6        89.6         86.2     96.0            91.8
lo-outliers             0           0            0        0               1
hi-outliers             1           0            0        0               1
variance             11.1         7.0          4.8     17.6             7.3
st. dev.              3.3         2.6          2.2      4.2             2.7

            Female_Camden Female_Enfield Female_K&C
quantity               18             21         18
mean                 86.1           84.1       86.6
median               86.3           84.4       86.4
min                  80.3           78.6       81.9
max                  90.7           87.2       92.9
range                10.4            8.6       11.0
LQ                   85.3           82.5       85.3
UQ                   87.9           85.4       88.0
IQR                   2.6            2.9        2.7
lo-tukey             81.4           78.2       81.3
hi-tukey             91.9           89.7       92.0
lo-outliers             2              0          0
hi-outliers             0              0          1
variance              8.0            4.0        6.4
st. dev.              2.8            2.0        2.5

In [112]:
# Create the male data frame
male_df = df_cleaned.iloc[:, :4]  # Select all rows and the first 4 columns

# Create the female data frame
female_df = df_cleaned.iloc[:, 4:]  # Select all rows and columns from the 5th column onwards

# Display the resulting data frames
print("Male Data Frame:")
print(male_df)
print("\nFemale Data Frame:")
print(female_df)

Male Data Frame:
            Male_all_data Male_Camden Male_Enfield Male_K&C
quantity               57          18           21       18
mean                 81.2        80.5         80.1     83.0
median               81.0        80.4         80.9     83.5
min                  74.8        76.7         76.1     74.8
max                  91.9        84.8         83.5     91.9
range                17.1         8.1          7.4     17.1
LQ                   78.4        78.2         78.8     79.9
UQ                   83.3        82.7         81.7     86.3
IQR                   4.9         4.6          2.9      6.4
lo-tukey             71.0        71.3         74.4     70.2
hi-tukey             90.6        89.6         86.2     96.0
lo-outliers             0           0            0        0
hi-outliers             1           0            0        0
variance             11.1         7.0          4.8     17.6
st. dev.              3.3         2.6          2.2      4.2

Female Data Frame:
            Female_all_data Female_Camden Female_Enfield Female_K&C
quantity                 57            18             21         18
mean                   85.5          86.1           84.1       86.6
median                 85.5          86.3           84.4       86.4
min                    78.6          80.3           78.6       81.9
max                    92.9          90.7           87.2       92.9
range                  14.3          10.4            8.6       11.0
LQ                     84.1          85.3           82.5       85.3
UQ                     87.2          87.9           85.4       88.0
IQR                     3.1           2.6            2.9        2.7
lo-tukey               79.4          81.4           78.2       81.3
hi-tukey               91.8          91.9           89.7       92.0
lo-outliers               1             2              0          0
hi-outliers               1             0              0          1
variance                7.3           8.0            4.0        6.4
st. dev.                2.7           2.8            2.0        2.5